.register-holder {
    height: 100vh;
    background: rgb(58, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-holder {
    width: 400px;
    border: 1px solid rgb(2, 2, 2);
    border-radius: 10px;
    background: rgb(228, 228, 228);
    padding: 20px;
    margin: auto;
}

.btn-outline-success {
    background: rgb(58, 58, 58);
    color: white;
    border-color: rgb(0, 0, 0);
}

.btn-outline-success:hover {
    background: rgb(0, 0, 0);
}