hr {
    width: 80%;
}

.course-item {
    border: 1px solid gray;
    text-align: center;
    min-height: 55vh;
    position: relative;
    width: 219px;
    box-shadow: 8px 8px 5px #bdbdbd;
    transition: 0.2s;
}

.course-item:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px #a0a0a0;
    transition: 0.2s;
}

.course-img {
    object-fit: contain;
    border-bottom: 1px solid rgb(218, 218, 218);
    /* width: 100%;
    height: auto; */
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 25px;
    cursor: pointer;
}

.edit-btn {
    position: absolute;
    top: 5px;
    right: 40px;
    cursor: pointer;
}